footer {
    position: relative;
    background-color: var(--primary-color);
    padding-right: 10.42vw;
    padding-top: 1.3vw;
    padding-bottom: 1.3vw;
    padding-left: 25vw;
    display: flex;
    justify-content: space-between;
    height: 11.56vw;
    box-sizing: border-box;
    z-index: 9;

    svg {
        position: absolute;
        left: 4vw;
        top: 0;
    }

    div#footer-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & * {
            color: #000;
        }

        span#disclaimer {
            width: 16.09vw;
        }

        div#contacts {
            display: flex;
            column-gap: 1.56vw;
        }
    }

    nav ul {
        flex-direction: column;
        text-align: right;
        row-gap: 0.42vw;

        li a {
            color: #000;
            font-weight: 700;
            transition: color 0.3s ease;

            &:hover {
                color: white;
            }
        }
    }
}

@media screen and (max-width: 450px) {
    footer {
        height: fit-content;
        padding: var(--side-header-padding);
        flex-direction: column;
        padding-bottom: 5vw;
        padding-top: 5vw;

        div#footer-content {
            row-gap: 7vw;

            span#disclaimer {
                width: 70vw;
            }

            div#contacts {
                flex-direction: column;
                row-gap: 2vw;
            }
        }

    }
}