@use 'variebles' as v;

#app {
    &>header {
        z-index: 10;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--side-header-padding);
        border-bottom: .11vw solid var(--primary-color);
        position: sticky;
        top: 0;
        background-color: lighten($color: v.$backColor, $amount: 5);
        backdrop-filter: blur(1.6vw);
        transition: background-color .3s ease;

        svg {
            transition: width .3s ease, height .3s ease;
        }

        &.scrolled {
            background-color: rgba($color: v.$backColor, $alpha: .9);

            svg {
                width: 2.6vw;
                height: 2.6vw;
            }
        }
    }
}

@media screen and (max-width: 450px) {
    #app>header {
        &.scrolled {
            svg {
                width: 10vw;
                height: 10vw;
            }
        }
    }
}