$primaryColor: #3BD055;
$secondColor: #B1F045;
$backColor: rgb(14, 14, 14);

:root {
    --primary-color: #3BD055;
    --second-color: #B1F045;
    --back-color: rgb(14, 14, 14);

    --base-font-size: 16px;
    --h1-font-size: 3em;
    --h2-font-size: 2em;
    --h3-font-size: 1.2em;

    --side-main-padding: 0 10.42vw;
    --side-header-padding: 0 5vw;
}