$primaryColor: rgb(53, 255, 188);
$secondColor: rgb(53, 255, 144);

:root {
    --primary-color: rgb(53, 255, 188);
    --second-color: rgb(53, 255, 144);

    --base-font-size: 16px;
    --h2-font-size: 1.5em;
}