@use 'variebles' as v;
@use 'header';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


* {
    font-size: var(--base-font-size);
    font-family: 'Montserrat', sans-serif;
    color: white
}

::selection {
    background-color: var(--second-color);
    color: white;
}

::-moz-selection {
    background-color: var(--second-color);
    color: white;
}

body::-webkit-scrollbar {
    width: .42vw;
}

body::-webkit-scrollbar-track {
    background: var(--back-color);
}

body::-webkit-scrollbar-thumb {
    background: var(--second-color);
}

body {
    background-color: var(--back-color);
}

h1 {
    font-size: var(--h1-font-size);
}

h2 {
    font-size: var(--h2-font-size);
}

h3 {
    font-size: var(--h3-font-size);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

main {
    padding: var(--side-main-padding);
    margin-bottom: 5vw;
    margin-top: 2.5vw;
}

a {
    text-decoration: none;
    transition: color .3s ease;

    &:hover {
        color: var(--primary-color);
    }
}

.hidden {
    display: none !important;
}

form {
    display: flex;
    flex-direction: column;

    input {
        background: none;
        border: none;
        border-bottom: var(--primary-color) .11vw solid;
        font-size: var(--h3-font-size);
        padding: .33vw .6vw;
        padding-left: .33vw;

        &:focus {
            outline: none;
            border-right: var(--second-color) .11vw solid;
        }
    }
}

.button {
    display: block;
    border: var(--primary-color) .11vw solid;
    width: fit-content;
    margin-bottom: 1.04vw;
    background-color: var(--primary-color);
    color: var(--back-color);
    font-weight: 700;
    font-size: var(--h3-font-size);
    padding: .11vw .33vw;
    border-bottom-left-radius: .52vw;
    border-top-right-radius: .52vw;
    transition: background-color .3s ease, border-color .3s ease;
    cursor: pointer;

    &:hover {
        border-color: var(--second-color);
        background-color: var(--second-color);
        color: black;
    }
}