@use 'variebles' as v;
@use 'header';
@use 'footer';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@font-face {
    font-family: Stolzl;
    src: url("/storage/app/public/static/fonts/Stolzl-Regular.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Stolzl;
    src: url("/storage/app/public/static/fonts/Stolzl-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Stolzl;
    src: url("/storage/app/public/static/fonts/Stolzl-Light.ttf");
    font-weight: 300;
    font-style: normal;
}

* {
    font-size: var(--base-font-size);
    font-family: 'Stolzl', sans-serif;
    color: white
}

::selection {
    background-color: var(--second-color);
    color: white;
}

::-moz-selection {
    background-color: var(--second-color);
    color: white;
}

body::-webkit-scrollbar {
    width: .42vw;
}

body::-webkit-scrollbar-track {
    background: var(--back-color);
}

body::-webkit-scrollbar-thumb {
    background: var(--second-color);
}

body {
    background-color: var(--back-color);
}

#app {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh + 11.56vw);
}

h1,
h2,
.bottom-shadow {
    text-shadow: 0px .1vw 0px #3BD055;
}

h1 {
    font-size: var(--h1-font-size);
}

h2 {
    font-size: var(--h2-font-size);
}

h3 {
    font-size: var(--base-font-size);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

main {
    padding: var(--side-main-padding);
    margin-bottom: 5vw;
    margin-top: 2.5vw;
    flex-grow: 1;
}

a {
    text-decoration: none;
    transition: color .3s ease;

    &:hover {
        color: var(--primary-color);
    }
}

.hidden {
    display: none !important;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 0.94vw;

    input {
        padding: 0.7vw 1vw;
        border-radius: 0;
    }

    input:not([type="submit"]) {
        border: 0.1vw var(--primary-color) solid;
        background: none;
    }

    input[type="submit"] {
        cursor: pointer;
        background-color: var(--primary-color);
        border: none;
        color: #000;
        font-weight: 700;
        transition: background-color 0.3s ease;
        font-size: 1.5em;

        &:hover {
            background-color: var(--second-color);
        }
    }
}

input {
    accent-color: var(--second-color);
}

input:focus {
    outline: none;
    border-right: var(--second-color) .11vw solid;
}

.button {
    display: block;
    border: var(--primary-color) .11vw solid;
    width: fit-content;
    margin-bottom: 1.04vw;
    background-color: var(--primary-color);
    color: var(--back-color);
    font-weight: 700;
    font-size: var(--h3-font-size);
    padding: .11vw .33vw;
    border-bottom-left-radius: .52vw;
    border-top-right-radius: .52vw;
    transition: background-color .3s ease, border-color .3s ease;
    cursor: pointer;

    &:hover {
        border-color: var(--second-color);
        background-color: var(--second-color);
        color: black;
    }
}

.hugged {
    width: 39.06vw;
    margin-inline: auto;
}

.focused-button {
    padding: 0.3vw 0.7vw;
    transition: background-color 0.3s ease, color 0.1s ease;
    background-color: var(--primary-color);
    color: #000;
    border: 0.1vw var(--primary-color) solid;
    cursor: pointer;

    &:hover {
        background-color: transparent;
        color: white;
    }
}

.delete-button:hover {
    color: red;
}

// animations

.fly-down-enter-active,
.fly-down-leave-active {
    transition: opacity .5s ease, transform .5s ease;
}

.fly-down-enter-from,
.fly-down-leave-to {
    opacity: 0;
    transform: translateY(-1.56vw);
}